//<>=============================================================================
.header {
	&__row {
		position: relative;

		@media (min-width: $md2) {
			display: flex;
			align-items: center;
			justify-content: center;
			gap: 0 25px;
		}
	}

	&__menu {
		margin: 5px 25px 10px 5px;

		@media (min-width: $md3) {
			margin-top: 11px;
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			gap: 16px;
		}

		@media (max-width: $md2) {
			nav {
				width: 100%;
			}
		}
	}

	&__img-block {
		align-self: start;
		position: relative;
		width: 100%;
		min-height: 480px;

		display: flex;
		justify-content: center;
		align-items: center;
		background: url('./portfolioHub/img/icons/Header/bitmap.jpg') center/cover no-repeat;
		border-radius: 28px;

		@media (max-width: $md2) {
			width: 100%;
			min-height: 312px;
			border-radius: 0px;
			top: -80px;
		}
	}

	&__intro-cart {
		display: inline-block;
		max-width: 70%;
		min-width: 507px;
		padding: 31px 37px 40px;
		background: $VIO-BLUE-GRAD;
		mix-blend-mode: normal;
		opacity: 0.79;
		border-radius: 34px;

		@media (max-width: $md2) {
			margin-top: 70px;
			width: 95%;
			min-width: 95%;
			padding: 20px;
			color: $GOLD;
		}

		@media (max-width: 667px) {
			top: 100px;
		}

		@media (max-width: $md3) {
			padding: 20px 10px;
			left: 8px;
		}
	}

	&__settings-wrapper {
		cursor: pointer;
		position: absolute;
		right: 50px;
		top: 40px;

		img {
			@media (min-width: $md3) {
				width: 145%;
			}
			@media (min-width: $md2) {
				filter: brightness(900%);
			}

			@media (max-width: $md3) {
				height: 20px;
				width: 20px;
			}
		}

		&:hover,
		&:active,
		&:focus {
			.settings-popup {
				display: block !important;

				opacity: 1;
				top: 30px;
				right: -10px;
				overflow: visible;
				transform: rotate(0deg);
				transition: all 0.3s ease 0s;
				pointer-events: all;

				@media (max-width: $md2) {
					top: 50px;
					right: 13px;
					border-radius: 0 0 10px 10px;
					background-color: #d1c4e9;
				}
			}
		}

		@media (max-width: $md2) {
			z-index: 22;
			display: flex;
			justify-content: center;
			align-items: center;

			height: 14%;
			width: 10%;
			right: 5px;
			top: 0px;

			background-color: #d1c4e9;
			box-shadow: 0px 2px 14px #d1c4e9;
			border-radius: 0 16px 16px 0px;
		}

		@media (min-width: 528px) {
			height: 15%;
		}

		@media (max-width: $md3) {
			height: 50px;
		}
	}

	&__settings-icon {
		visibility: hidden;
		transition: all 0.7s ease 0s;

		&:hover,
		&:active,
		&:focus {
			outline: none;
			transform: rotate(90deg);
		}
	}

	@media (max-width: $md2) {
		max-height: 302px;
	}
}

.menu-header {
	display: flex;
	justify-content: start;
	align-items: center;

	&__logo {
		@media (max-width: $md2) {
			display: none;
		}
	}

	&__list {
		position: relative;
		width: 100%;
		padding: 25px;

		background: $PurpleNav;
		box-shadow: 0px 0px 14px #d1c4e9;
		border-radius: 16px 0 0 16px;
		z-index: 5;

		@media (max-width: $md2) {
			display: flex;
			justify-content: left;
			align-items: center;
			gap: 13%;
			padding: 15px 60px 15px 15px;
		}
	}

	&__item {
		position: relative;
		min-width: 20px;

		img {
			width: 100%;
			height: 100%;
			object-fit: contain;
		}

		@media (max-width: $md2) {
			max-width: 29px;
		}

		@media (min-width: $md2) {
			&:not(:last-child) {
				margin-bottom: 33px;
			}
		}
	}
}

.intro-cart {
	&__greeting {
		font-family: 'lato700';
		font-size: 36px;
		line-height: calc(43 / 36);
		color: $WHITE;

		@media (max-width: $md2) {
			font-size: 21px;
			line-height: calc(30 / 21);
		}
	}

	&__personal-info {
		margin-bottom: 10px;
		font-family: 'lato900';
		font-size: 22px;
		line-height: 1.5;
		color: $WHITE;

		@media (min-width: 1260px) {
			font-size: 48px;
			line-height: calc(58 / 48);
		}

		@media (max-width: $md2) {
			font-size: 22px;
			line-height: calc(22 / 12);
		}

		@media (max-width: 544px) {
			font-size: 14px;
			line-height: 1;
		}
	}

	&__description {
		font-size: 22px;
		line-height: calc(33 / 22);
		color: $WHITE;

		span {
			color: yellow;
		}

		@media (max-width: $md1) {
			font-size: 12px;
			margin-bottom: 10px;
		}
	}

	&__socials-network {
	}

	&__list-network {
		margin-top: 15px;
		display: flex;
		align-items: center;
		justify-content: center;
		gap: 25px;

		@media (min-width: $md3) {
			justify-content: left;
		}
	}

	&__social-item {
		transition: all 0.3s ease 0s;
		&:hover,
		&:active {
			transform: scale(1.2);
		}
	}
}

//<Dark>==========================================================================

body.dark {
	.menu-header {
		&__logo {
			filter: brightness(990%);
		}

		&__list {
			background-color: $PurpleNav_dark;
			box-shadow: 0px 2px 14px #311b92;
		}

		&__item {
			img {
				filter: brightness(900%);
			}
		}
	}
	.menu-header__list {
		@media (min-width: $md2) {
			background: $VIO-BLUE-GRAD;
		}
	}

	.header__settings-wrapper {
		img {
			filter: brightness(900%);
		}

		.settings-popup {
			background-color: #fff;
		}

		@media (max-width: $md2) {
			color: #fff;
			background-color: #311b92;
			box-shadow: 0px 2px 14px #311b92;
		}
	}
}

//=======Animation=======================
body {
	&.dark,
	&.light {
		.header__intro-cart {
			visibility: hidden;

			&.animate__backInUp {
				visibility: visible;
			}
		}

		header .intro-cart__socials-network {
			visibility: hidden !important;

			&.animate__slideInDown {
				visibility: visible !important;
			}
		}
		.header__settings-icon {
			animation-delay: 0.5s;
			&.animate__rotateIn {
				visibility: visible;
			}
		}

		.menu-header__list {
			visibility: hidden;

			&.animate__backInLeft {
				visibility: visible;
			}
		}
		.menu-header__logo {
			visibility: hidden;

			&.animate__bounceIn {
				visibility: visible;
			}
		}
	}
}
