//-<Шрифты по умолчанию>=================================================
$font-family: 'lato400';
//-</Шрифты по умолчанию>================================================

//-<ПЕРЕМЕННЫЕ>==================================================================
$maxWidth: 1440;
$minWidth: 320;
$maxWidthContainer: 1480;
//-<ПЕРЕМЕННЫЕ>==================================================================

//-<BREAKPOINTS>-================================================================
$md1: 991.98 + px;
$md2: 767.98 + px;
$md3: 479.98 + px;
//-</BREAKPOINTS>-=============================================================================

//<Custom BREAKPOINTS>====================================================================================================================================

//</Custom BREAKPOINTS>====================================================================================================================================

//==Color================================================================================

//--light theme---
$BODY_BLACK: #303030;
$BLACK: #000000;
$WHITE: #ffffff;
$VIOLET: #9c27b0;
$GOLD: #d6bd96;
$BLUE: #651fff;
$GREY: #0000008a;
$VIO-BLUE-GRAD: linear-gradient(141.51deg, #9c27b0 -18.34%, #651fff 66.03%);
$PurpleNav: #d1c4e9;

//--dark theme---
$PurpleNav_dark: #311b92;
