@font-face {
	font-family: lato;
	font-display: swap;
	src: url("../fonts/lato-latin-400-italic.woff2") format("woff2"), url("../fonts/lato-latin-400-italic.woff") format("woff");
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: lato;
	font-display: swap;
	src: url("../fonts/lato-latin-400-normal.woff2") format("woff2"), url("../fonts/lato-latin-400-normal.woff") format("woff");
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: lato;
	font-display: swap;
	src: url("../fonts/lato-latin-700-normal.woff2") format("woff2"), url("../fonts/lato-latin-700-normal.woff") format("woff");
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: lato;
	font-display: swap;
	src: url("../fonts/lato-latin-900-normal.woff2") format("woff2"), url("../fonts/lato-latin-900-normal.woff") format("woff");
	font-weight: 400;
	font-style: normal;
}
